@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --text: #d4d4d8;
    --bg: #1F1F1F;
    --bg-input: #2a2a2a;
    --line: rgb(251, 191, 36);
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg);
    color: var(--text);

    height: 1000px;
}

#img-coins {
    position: relative;
    height: 200px;
    background-image: url(./assets/bitcoins.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#container-top-fixed {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 16px;
    padding-bottom: 16px;

    transition: 1s ease-in;
}

#container-top-fixed.true {
    background-color: #1f1f1fdf;
    left: 0;
    transition: 1s ease-in;
}

.name {
    font-size: 2.4rem;
}

.p-small {
    padding-left: 32px;
}

.main {
    padding: 16px 8px;
}

#container-message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.container-hidden {
    position: absolute;
    left: -200%;
    transition: 1s ease-in;

    padding: 16px 8px;
}

.container-hidden.true {
    transition: 1s ease-in;
    left: 0;
}


form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    
}

input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text);
}

.inputs {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
    height: 3.8rem;
    background-color: var(--bg-input); 
    border-bottom: 1px solid var(--line);
}

#container-dates {
    display: flex;
    gap: 8px;
}

#button-calc {
    background-color: var(--bg-input);
    border: 1px solid var(--line);
    border-radius: 30px;
    color: var(--text);
    width: max-content;
    padding: 8px 16px;
}

.calc {
    position: absolute;
    left: -200%;
    transition: 1s ease-in;
    width: 100%;
    padding: 8px 16px;
}

.calc > #percent-calc-tot > p {
    color: var(--text);
}

.calc.true { 
    left: 0;
    transition: 1s ease-in;
}

#message {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#preview {
    background-color: var(--bg-input);
    padding: 8px;
    margin-bottom: 24px;
}


#whats {
    position: relative;
    width: max-content;
    height: max-content;
    padding: 16px;
    background-color: var(--bg-input);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    align-self: flex-end;

}

#whats::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    background-image: linear-gradient(0deg, pink, purple, var(--line), black);
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#whats::after {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text);
    content: "Enviar WhatsApp!";
    font-family: 'Roboto';
    position: absolute;
    background-color: var(--bg-input);
    inset: 2px;
    border-radius: inherit;
}

#scroll-down {
    text-align: center;
    padding-right: 10px;
    animation: move 1s ease-out infinite;
}

@keyframes move {
    0% {
        transform: translateY(75px); /* Começa 100px abaixo da posição original */
    }
    100% {
        transform: translateY(0); /* Volta para a posição original */
    }
}

#scroll-down.true {
    display: none;
}

